<div class="atoms-workorder">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="m-2 qipsa-content-bg">
        <div class=" ">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 ngprime-custom">

            <p-toast></p-toast>
            <div class="row">
              <!-- <div class="card flex justify-content-center mb-5">
                <p-breadcrumb [model]="items"></p-breadcrumb>
              </div> -->
              <div #drawerFilter
                [ngClass]=" showmodal ? 'show' : ''"
                class="offcanvas offcanvas-end offcanvas-container w-50 ps-md-4 ngprime-custom" id="r-step-1" aria-modal="true" role="dialog">
                <div class="offcanvas-header">
                  <h1 class="offcanvas-title offcanvas-heading">Search Asset</h1>
                  <button type="button" class="btn-close" (click)="close_modal()"></button>
                </div>
                <div class="p-3">
                  <div class="row">
                    <!--  <app-search-component (OnSearch)="search()" (OnReset)="reset()"> -->
                    <form [formGroup]="searchForm">
                      <div class="row box-gryco">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" *ngIf="false">
                          <div class="form-floating mb-2">
                            <label class="form-label">Search Part Delivery</label>
                            <p-dropdown [options]="AssetGroups" optionLabel="name" formControlName="assetGroup" [hidden]="true"
                              class="dropdown" placeholder="select"></p-dropdown>
                          </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="form-floating mb-2">
                            <label class="form-label">Site</label>
                            <p-autoComplete [delay]="1000" (completeMethod)="siteNumberFilter($event)" [suggestions]="customers" field="custName"
                              (onSelect)="filter.customerId=$event.value.id" formControlName="customerId"></p-autoComplete>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="form-floating mb-2">
                            <label class="form-label">Asset Name</label>
                            <p-autoComplete [delay]="1000" (completeMethod)="completeAssetNameService($event)" (onSelect)="filter.assetNDId=$event.value.id"
                              [suggestions]="assetNames" field="assetname" formControlName="assetNDId"></p-autoComplete>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="form-floating mb-2">
                            <label class="form-label">Asset Number</label>
                            <p-autoComplete [delay]="1000" (completeMethod)="completeAssetNumberService($event)" (onSelect)="onSelectAsset($event)"
                              [suggestions]="assetNumbers" field="assetNumber" formControlName="assetId"></p-autoComplete>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="form-floating mb-2">
                            <label class="form-label">Asset S.N</label>
                            <p-autoComplete [delay]="1000" (completeMethod)="completeAssetService($event)" (onSelect)="onSelectAsset($event)"
                              [suggestions]="assets" [field]="'assetSerialNo'" formControlName="assetId"></p-autoComplete>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="form-floating mb-2">
                            <label class="form-label">Description</label>
                            <p-autoComplete [delay]="1000" (completeMethod)="completeDesc($event)" (onSelect)="filter.description=$event.value.desc"
                              [suggestions]="description" field="desc" formControlName="description"></p-autoComplete>
                          </div>
                        </div>

                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="form-floating mb-2">
                            <label class="form-label">Part NO</label>
                            <p-autoComplete [delay]="1000" [suggestions]="PartsItems" [field]="'partName'" formControlName="partNo"
                              (completeMethod)="completePartCatalog($event)" (onSelect)="filter.partNo=$event.value.id"></p-autoComplete>
                          </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="form-floating mb-2">
                            <label class="form-label">Part Delivery No</label>
                            <input type="text" formControlName="id"   pInputText  class="form-control " />
                          </div>
                        </div>
                      </div>
                    </form>
                    <!-- </app-search-component> -->
                  </div>
                  <div class="fixed-bottom">
                    <div class="row">
                      <div class="col-12">
                        <button class="btn btn-blue text-white form-button border-r10 float-end m-4" type="button" (click)="search()">Apply Filter</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                  <h4 class="mt-3 inline main-heading">Part Delivery Table  <span class="total_rows_data"> Total: {{ totalRows }} </span></h4>
                  <a class="ps-4 mt-4 exportfile  cursor-pointer" (click)="exportToExcel()">Export <img src="navbar/export.svg" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-right">

                    <div class="p-input-icon-left">
                      <p-button [outlined]="false" class="header-icon-background header-icon float-end" (click)="openFilterModal()">
                        <img src="navbar/filter.svg" alt="">
                      </p-button>
                    </div>
                    <div class="p-input-icon-left px-lg-3 px-md-2 ps-sm-1">
                      <div class="form-floating float-end">
                        <input type="text"
                           pInputText  class="form-control "
                          class="form-control border-0 header-search-background"
                          id="floatingSearchInput"
                          value="Type here"
                          placeholder="Type here">
                        <span> <img class="float-end search-icon " src="navbar/search.svg" alt=""></span>
                        <label for="floatingSearchInput">Search</label>
                      </div>
                    </div>
                    <div class="p-input-icon-left">
                      <button class="btn btn-blue text-white border-0 p-4 float-end" (click)="openModal()" >
                        Deposit
                      </button>
                      <button class="btn btn-blue text-white border-0 p-4 float-end me-3" (click)="openModal()" >
                        Withdrawal
                      </button>
                    </div>
                </div>
              </div> -->
              <div class="main">
                <div class="container-fluid">
                  <div class="contents ngprime-custom">
                    <div class="row">
                      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row  mb-3 content-heading">
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-3">
                            <div class="float-start main-heading">
                              Part Delivery Table <span class="total_rows_data"> Total: {{ totalRows }} </span>
                            </div>
                            <div class="float-start export-icon mt-3"><a class="m-5" (click)="exportToExcel() ">Export <img
                                  src="assets/img/dashboard/excel.svg" alt=""></a></div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                            <div class="row float-end">
                              <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 mb-3">
                                <div class="float-end filter-icon h-100"><a (click)="openFilterModal()"><img
                                      src="assets/img/dashboard/filter.svg" alt=""></a></div>
                              </div>
                              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-9 col-9 mb-3">

                                <div class="form-floating float-start ">
                                  <input type="text" class="form-control input-field icon-padding" id="floatingName"
                                    [(ngModel)]="searchValue" (input)="applyGlobalFilter($event)" placeholder="Search"
                                    value="Type here">
                                  <a> <img class="float-end search-icon " src="assets/img/dashboard/search.svg" alt=""></a>
                                  <label for="floatingName">Search</label>
                                  <!--  <input pInputText type="text" [(ngModel)]="searchValue"
                              (input)="dt.filterGlobal($event, 'contains')" placeholder="Keyboard Search" /> -->
                                </div>
                              </div>
                              <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb-3">
                                <div class="d-grid"><button class="btn btn-blue text-white border-r10" type="button"
                                    (click)="navToDeposite(true)">Deposit </button></div>
                              </div>
                              <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mb-3">
                                <div class="d-grid">
                                  <button class="btn btn-blue text-white border-r10 ms-2" type="button"
                                  (click)="navToDeposite(false)">Withdrawal </button></div>
                              </div>
                            </div>
                          </div>
                        </div>

                      <p-table #dt
                        [value]="tableData"
                        [loading]="loading"
                        [rows]="filter.pageSize"
                        [lazy]="true"
                        [totalRecords]="totalRows"
                        [rowHover]="false"
                        dataKey="id"
                        [tableStyle]="{width: 'max-content'}">
                        <!-- <ng-template pTemplate="caption">
                          <div class="flex align-items-center justify-content-between">
                            <div class="card-header bg-primary">
                              <div class="card-title">
                                <span class="text-white">
                                  Part Delivery Table <br>
                                  <span class="total_rows_data"> Total: {{ totalRows }} </span>
                                </span>
                              </div>
                              <div class="card-title table-btns">
                                <a [routerLink]="['/store/partDelivery/add-control']" class="nav-link  m-1">
                                  <button pButton pRipple label="Add New" class="btn btn-light-primary me-2 mr-2" canAdd> </button>
                                </a>
                                <a class="nav-link  m-1" (click)="navToDeposite(true)">
                                  <button pButton pRipple label="Deposit" class="btn btn-light-primary me-2 mr-2" canAdd> </button>
                                </a>
                                <a class="nav-link m-1" (click)="navToDeposite(false)">
                                  <button pButton pRipple label="Withdrawal" class="btn btn-light-primary me-2 mr-2" canAdd> </button>
                                </a>
                                <button pRipple (click)="exportToExcel()" class="btn btn-light-primary me-2">Export</button>
                              </div>
                            </div>
                          </div>
                        </ng-template> -->

                        <!-- <ng-template pTemplate="caption">

                        </ng-template> -->

                        <ng-template pTemplate="header">
                          <tr>
                            <!-- <th> # </th> -->
                            <th>Title </th>
                            <th>Call No</th>
                            <th>Site</th>
                            <th>Asset Name</th>
                            <th>Asset Number</th>
                            <th>Asset S.N</th>
                            <th>Asset Name</th>
                            <th>Part NO</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Status of Permission</th>
                            <th>Status Workflow Approval</th>
                            <th class="sticky-header ms-4">Action</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>

                          <tr>
                            <th>
                              <input type="checkbox" style="cursor: pointer;" [checked]="isSelected(item)"
                                (change)="select($event, item)" />
                            </th>
                            <!-- <td><a class="link-info" pRipple (click)="navToDetails(item,0)">Spare Part Requestion </a></td> -->

                            <td>{{item.callNo}}</td>s
                            <td>{{item.customerName}}</td>
                            <td>{{item.assetName}}</td>
                            <td>{{item.assetNumber}}</td>
                            <td>{{item.assetSN}}</td>
                            <td>{{item.assetName}}</td>
                            <td>{{item.partNo }}</td>
                            <td>{{item.partDesc}}</td>
                            <td>{{item.date | date : 'yyyy-MM-dd'}}</td>
                            <td>{{item.statusPermission}}</td>
                            <td>{{item.statusWorkflow}}</td>
                            <td class="sticky-header">
                              <div class="d-flex">
                                <button pButton pRipple icon="pi" class="p-button-rounded p-button-info mr-2"
                                  (click)="navToView(item,0)" >
                                  <img src="assets/img/dashboard/eye-1.svg" alt="View">
                                </button>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                                  (click)="navToDetails(item,1)"></button>

                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                  (click)="delete(item)"></button>
                              </div>
                            </td>
                          </tr>
                        </ng-template>


                      </p-table>
                      <p-paginator [rows]="filter.pageSize" [totalRecords]="totalRows" (onPageChange)="paginate($event)"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"></p-paginator>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
              <!-- <div class="saveButton">
                <button pButton type="button" label="Back" BackButton class="p-button-info col-lg-2"></button>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<add-part-delivery   [showmodal]="addTransferLoaded" [edit_asset_id]="partDeliveryModel.id" [deposite]="deposite" [queryData] = "queryData" (openModals)="openModal()"></add-part-delivery>
<edit-delete-part-delivery   [showmodal]="editTransfersLoaded" [edit_asset_id]="partDeliveryModel.id" [deposite]="deposite" [queryData] = "queryData" (openModals)="openEditModal()"></edit-delete-part-delivery>
<view-details-part-delivery   [showmodal]="viewTransfersLoaded" [edit_asset_id]="partDeliveryModel.id" [deposite]="deposite" [queryData] = "queryData" (openModals)="openViewModal()"></view-details-part-delivery>
<p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>
<div *ngIf="addTransferLoaded" class="offcanvas-backdrop fade show"></div>
<div *ngIf="editTransfersLoaded" class="offcanvas-backdrop fade show"></div>
<div *ngIf="showmodal" class="offcanvas-backdrop fade show"></div>
<div *ngIf="viewTransfersLoaded" class="offcanvas-backdrop fade show"></div>
