/* @import '../../../../assets/scss/sidebar.scss'; */

.matero-sidebar-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--mat-toolbar-standard-height);
  padding: 0 8px;
  overflow: hidden;
  border-bottom: 1px solid var(--divider-color);

  .matero-header-white & {
    background-color: white;
  }
}

.matero-sidebar-main {
  height: 100vh;
  overflow: auto;
}

.sidebar.horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar.vertical {
  display: flex;
  flex-direction: column;
  width: 250px;
  /* Adjust as needed */
}
