<div class="atoms-workorder">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="m-2 qipsa-content-bg">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 ngprime-custom">
          <p-toast></p-toast>

          <div class="main">
            <div class="container-fluid">
              <div class="contents ngprime-custom">
                <div class="row">
                  <div
                    class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                  >
                    <div class="row mb-3 content-heading">
                      <div
                        class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-3"
                      >
                        <div class="float-start main-heading">Departments</div>
                        <div class="float-start export-icon mt-3">
                          <a class="m-5" (click)="export()"
                            >Export
                            <img src="assets/img/dashboard/excel.svg" alt=""
                          /></a>
                        </div>
                      </div>
                      <div
                        class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"
                      >
                        <div class="row float-end">
                          <div
                            class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 mb-3"
                          >
                            <div class="float-end filter-icon h-100">
                              <a (click)="toggleFilter()"
                                ><img
                                  src="assets/img/dashboard/filter.svg"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                          <div
                            class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-9 col-9 mb-3"
                          >
                            <div class="form-floating float-start">
                              <input
                                type="text"
                                class="form-control input-field icon-padding"
                                id="floatingName"
                                [(ngModel)]="searchValue"
                                (input)="applyGlobalFilter($event)"
                                placeholder="Search"
                                value="Type here"
                              />
                              <a>
                                <img
                                  class="float-end search-icon"
                                  src="assets/img/dashboard/search.svg"
                                  alt=""
                              /></a>
                              <label for="floatingName">Search</label>
                            </div>
                          </div>
                          <div
                            class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 mb-3"
                          >
                            <div class="d-grid">
                              <button
                                class="btn btn-blue text-white border-r10"
                                type="button"
                                (click)="toggleAdd()"
                              >
                                Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="table-responsive table-bg">
                      <p-table
                        [value]="departments"
                        [rows]="10"
                        [showCurrentPageReport]="true"
                        [totalRecords]="totalRows"
                        dataKey="id"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        #dt
                      >
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="text-center">Department Name</th>
                            <th class="text-center">Department Code</th>
                            <th class="text-center">Cost Center Number</th>
                            <th class="text-center">Cost Center Name</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-row>
                          <tr>
                            <td class="text-center">
                              {{ row.departmentName }}
                            </td>
                            <td class="text-center">
                              {{ row.departmentCode }}
                            </td>
                            <td class="text-center">
                              {{ row.costCenterNumber }}
                            </td>
                            <td class="text-center">
                              {{ row.costCenterName }}
                            </td>
                            <td
                              class="sticky-header"
                              alignFrozen="right"
                              pFrozenColumn
                              [frozen]="balanceFrozen"
                            >
                              <div class="d-flex justify-content-center">
                                <p-button
                                  icon="pi pi-pencil"
                                  class="mr-2"
                                  [rounded]="true"
                                  [outlined]="true"
                                  severity="success"
                                  (click)="showUpdateDialog(row)"
                                  (click)="codeId = row.id"
                                  canUpdate
                                />

                                <p-button
                                  icon="pi pi-trash"
                                  severity="danger"
                                  [rounded]="true"
                                  [outlined]="true"
                                  (click)="deleteCustomer(row)"
                                  canDelete
                                />
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <p-paginator
                        [rows]="filter.pageSize"
                        [totalRecords]="totalRows"
                        (onPageChange)="paginate($event)"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                      ></p-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          #drawerAdd
          [ngClass]="showEditModal ? 'show' : ''"
          class="offcanvas offcanvas-end offcanvas-container w-50 ps-md-4 ngprime-custom"
          id="r-step-1"
          aria-modal="true"
          role="dialog"
        >
          <div class="offcanvas-header">
            <h1 class="offcanvas-title offcanvas-heading">Update Department</h1>
            <button
              type="button"
              class="btn-close"
              (click)="close_edit_modal()"
            ></button>
          </div>
          <div class="p-3">
            <div class="row">
              <p-toast></p-toast>
              <div
                class="col-xxl-12 col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12 p-3"
              >
                <!-- ========== -->
                <form [formGroup]="updateDepart">
                  <div class="row mb-4">
                    <div class="row box-gryco">
                      <div class="row py-3">
                        <div
                          class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                        >
                          <div class="form-floating mb-2">
                            <input
                              id="departmentName"
                              formControlName="departmentName"
                              class="form-control"
                              type="text"
                              name="departmentName"
                              placeholder="Department Name<"
                            />
                            <label class="form-label" for="departmentName"
                              >Department Name</label
                            >
                          </div>
                        </div>
                        <div
                          class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                        >
                          <div class="form-floating mb-2">
                            <input
                              id="departmentCode"
                              formControlName="departmentCode"
                              [readonly]="true"
                              class="form-control"
                              type="text"
                              name="departmentCode"
                              placeholder="Department Code"
                            />
                            <label class="form-label" for="departmentCode"
                              >Department Code</label
                            >
                          </div>
                        </div>
                        <div
                          class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                        >
                          <div class="form-floating mb-2">
                            <input
                              id="costCenterNumber"
                              formControlName="costCenterNumber"
                              class="form-control"
                              type="text"
                              name="costCenterNumber"
                              placeholder="Cost Center Number"
                            />
                            <label class="form-label" for="departmentCode"
                              >Cost Center Number</label
                            >
                          </div>
                        </div>
                        <div
                          class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                        >
                          <div class="form-floating mb-2">
                            <input
                              id="costCenterName"
                              formControlName="costCenterName"
                              class="form-control"
                              type="text"
                              name="costCenterName"
                              placeholder="Cost Center Name"
                            />
                            <label class="form-label" for="departmentCode"
                              >Cost Center Name</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-2">
                      <app-transaction-history
                        *ngIf="transactionHistory"
                        [transactionHistory]="transactionHistory"
                      ></app-transaction-history>
                    </div>
                  </div>
                </form>
                <!-- ++++++++++ -->
              </div>
            </div>
            <div class="fixed-bottom">
              <div class="row">
                <div class="col-12">
                  <button
                    class="btn btn-blue text-white form-button border-r10 float-end m-4"
                    type="button"
                    (click)="onUpdate()"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
            <!-- <p-confirmDialog [style]="{ width: '600px' }"></p-confirmDialog> -->
          </div>
        </div>
        <div
          #drawerAdd
          [ngClass]="showFilterModal ? 'show' : ''"
          class="offcanvas offcanvas-end offcanvas-container w-50 ps-md-4 ngprime-custom"
          id="r-step-1"
          aria-modal="true"
          role="dialog"
        >
          <div class="offcanvas-header">
            <h1 class="offcanvas-title offcanvas-heading">Search Department</h1>
            <button
              type="button"
              class="btn-close"
              (click)="close_search_modal()"
            ></button>
          </div>
          <div class="p-3">
            <div class="row">
              <p-toast></p-toast>
              <div
                class="col-xxl-12 col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12 p-3"
              >
                <!-- ========== -->
                <form [formGroup]="deprtSearchForm">
                  <div class="row mb-4">
                    <div class="row box-gryco">
                      <div
                        class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                      >
                        <div class="form-floating mb-2">
                          <span class="p-float-label">
                            <p-autoComplete
                              [delay]="1000"
                              (ngModelChange)="filter.deptName = $event"
                              [suggestions]="list"
                              (onSelect)="
                                filter.deptName = $event.value.departmentName
                              "
                              (completeMethod)="deptNameFilter($event)"
                              field="departmentName"
                              placeholder="Search Department Name"
                              formControlName="sName"
                              inputId="deptNameInput"
                            ></p-autoComplete>
                            <label for="deptNameInput" class="form-label"
                              >Department Name</label
                            >
                          </span>
                        </div>
                      </div>
                      <div
                        class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                      >
                        <div class="form-floating mb-2">
                          <span class="p-float-label">
                            <p-autoComplete
                              [delay]="1000"
                              (ngModelChange)="filter.departmentCode = $event"
                              [suggestions]="list"
                              (onSelect)="
                                filter.departmentCode =
                                  $event.value.departmentCode
                              "
                              (completeMethod)="deptCodeFilter($event)"
                              field="departmentCode"
                              placeholder="Search Department Code"
                              formControlName="sCode"
                              inputId="deptCodeInput"
                            ></p-autoComplete>
                            <label for="deptCodeInput" class="form-label"
                              >Department Code</label
                            >
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- ++++++++++ -->
              </div>
            </div>
            <div class="fixed-bottom">
              <div class="row">
                <div class="col-12">
                  <button
                    class="btn btn-blue text-white form-button border-r10 float-end m-4"
                    type="button"
                    (click)="Search()"
                  >
                    Apply Filter
                  </button>
                </div>
              </div>
            </div>
            <!-- <p-confirmDialog [style]="{ width: '600px' }"></p-confirmDialog> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '600px' }"></p-confirmDialog>

<app-add-department
  [showmodal]="addDepartmentLoaded"
  (openDeptModals)="toggleAddModel()"
  [department_id]="department_id"
  [department_index]="department_index"
></app-add-department>

<div
  *ngIf="showEditModal"
  class="offcanvas-backdrop fade show"
  (click)="toggleEdit()"
></div>
<div
  *ngIf="addDepartmentLoaded"
  class="offcanvas-backdrop fade show"
  (click)="toggleAdd()"
></div>
<div
  *ngIf="showFilterModal"
  class="offcanvas-backdrop fade show"
  (click)="toggleFilter()"
></div>
