<p-dialog header="Update Account Information" [(visible)]="displayModal" [modal]="true" [closable]="false"
  [style]="{width: '50vw'}">
  <form [formGroup]="employeeForm" id="signupForm">

    <img src="" id="signupLogo" />

    <h2 class="formTitle">
      Update your account Informationsss
    </h2>

    <div class="inputDiv">
      <label class="inputLabel" for="password">Password <small class="text-danger">*</small></label>
      <p-password formControlName="password" [toggleMask]="true" (ngModelChange)="confirmPasswordMatch()"
        [required]="true">
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="p-mt-2">Suggestions</p>
          <ul class="p-pl-2 p-ml-2 p-mt-0">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>At least one special charachter</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <small
        *ngIf="employeeControls['password'].touched && employeeControls['password'].errors && employeeControls['password'].errors['required']"
        class="text-danger">
        Password is required
      </small>
    </div>

    <div class="inputDiv">
      <label class="inputLabel" for="cPassword">Confirm Password <small class="text-danger">*</small></label>
      <p-password match="password" formControlName="cPassword" [toggleMask]="true" [feedback]="false"
        (ngModelChange)="confirmPasswordMatch()" [required]="true"></p-password>
      <div *ngIf="employeeControls['cPassword'].touched && employeeControls['cPassword'].invalid" class="text-danger">
        <div *ngIf="employeeControls['cPassword'].errors && employeeControls['cPassword'].errors['required']"
          class="text-danger">
          Confirm Password is required
        </div>
      </div>
      <div>
        <small *ngIf="employeeControls['cPassword'].errors && employeeControls['cPassword'].errors['mismatch']"
          class="block text-danger">
          Password does not match
        </small>
      </div>
    </div>

    <div class="inputDiv">
      <label class="inputLabel"> User Language </label>
      <input pInputText readonly="true" type="text" [value]="userLang" />
    </div>

    <div class="modal-footer">
      <button pButton type="button" label="Save11" (click)="updateProfile()" [disabled]="!employeeForm.valid"></button>
      <button pButton type="button" label="Cancel" (click)="closeModal()"></button>
    </div>

  </form>
</p-dialog>