<p-toast></p-toast>
<div class="card-flush mb-6 mb-xl-9 ">
  <div class="card-body pt-5">
    <form [formGroup]="assetSearchForm">
      <div class="row py-3">
        <div class="col-md-3" *ngIf="false">
          <label class="form-label">Asset Group</label>
          <p-dropdown [options]="AssetGroups" optionLabel="name" formControlName="assetGroup" [hidden]="true"
            class="dropdown" placeholder="select"></p-dropdown>
        </div>
        <div class="col-md-3">
          <label class="form-label">Manufacturer</label>
          <p-autoComplete [delay]="1000" [suggestions]="manufacts" field="taxonomyName" dataKey="id"
            (completeMethod)="selectManufacturer($event)" (onSelect)="bindManufacturer($event)"
            formControlName="manufacturer"></p-autoComplete>
        </div>
        <div class="col-md-3">
          <label class="form-label">Asset Serial Number</label>
          <p-autoComplete [delay]="1000" [suggestions]="serialNosList" field="assetSerialNo" dataKey="id"
            (completeMethod)="selectSN($event)" (onSelect)="bindSN($event)" [minLength]="1"
            formControlName="serialNo"></p-autoComplete>
        </div>
        <div class="col-md-3">
          <label class="form-label">Asset Number</label>
          <p-autoComplete [delay]="1000" [suggestions]="assetsNumberList" field="assetNumber" dataKey="id"
            (completeMethod)="selectAssetNumber($event)" (onSelect)="bindAssetNumber($event)" [minLength]="1"
            formControlName="assetNo"></p-autoComplete>
        </div>
        <div class="col-md-3">
          <label class="form-label">Asset Name</label>
          <p-autoComplete [delay]="1000" [suggestions]="assetNames" field="modelDefinition.assetName"
            formControlName="assetName" (completeMethod)="selectAssetName($event)"
            (onSelect)="bindAssetName($event)"></p-autoComplete>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="view-name-def-header card">
  <p-table #dt [value]="allAssets" styleClass="p-datatable-striped p-datatable-gridlines" [loading]="loading"
    [rows]="filter.pageSize" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [lazy]="true"
    [rowHover]="false" dataKey="id" [totalRecords]="totalRows">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <div class="card-header bg-primary">
          <div class="card-title">
            <span class="text-white">
              Equipments listing <br>
              <span class="total_rows_data"> Total: {{totalRows}} </span>
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>S.N</th>
        <th>Asset Name</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Site</th>
        <th>Asset Number</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <tr>
        <td>
          <p-tableCheckbox [value]="asset"></p-tableCheckbox>
        </td>
        <td>{{asset.assetSerialNo}}</td>
        <td>{{asset.modelDefinition.assetName}}</td>
        <td>{{asset.modelDefinition == null?"": asset.modelDefinition.manufacturerName}}</td>
        <td>{{asset.modelDefinition == null?"": asset.modelDefinition.modelName}}</td>
        <td>{{asset.site == null?"": asset.site.custName}}</td>
        <td>{{asset.assetNumber}}</td>
      </tr>
    </ng-template>

  </p-table>
  <p-paginator [rows]="filter.pageSize" [totalRecords]="totalRows" (onPageChange)="paginate($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"></p-paginator>
</div>
<div class="buttons">
  <p-button type="button" icon="pi pi-check" (onClick)="addSerialNumber()" label="Submit"
    styleClass="p-button-text"></p-button>
  <p-button icon="pi pi-times" (click)="closeDialog()" label="Cancel" styleClass="p-button-text"></p-button>
</div>