<div #drawer [ngClass]="showmodal ? 'show' : ''" class="offcanvas offcanvas-end offcanvas-container w-75 ps-md-4"
  id="r-step-1" aria-modal="true" role="dialog">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title offcanvas-heading">View Asset Inventory</h1>

    <button type="button" class="btn-close" (click)="close_modal()"></button>
  </div>

  <div class="p-3 ngprime-custom">
    <div class="row">
      <p-toast></p-toast>
      <div class="row box-gryco mb-2">
        <h3 class="section-heading">Asset Inventory Details</h3>

        <!-- Survey Code -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <p class="viewp-text">Survey Code:
            <span class="viewspan-text">{{ assetInventoryForm.get('surveyCode')?.value }}</span>
          </p>
        </div>

        <!-- Survey Date -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <p class="viewp-text">Survey Date:
            <span class="viewspan-text">{{ assetInventoryForm.get('surveyDate')?.value | date: 'dd/MM/yyyy'
              }}</span>
          </p>
        </div>

        <!-- Site Name -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <p class="viewp-text">Site Name:
            <span class="viewspan-text">{{ assetInventoryForm.get('siteName')?.value }}</span>
          </p>
        </div>

        <!-- Building Name -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <p class="viewp-text">Building Name:
            <span class="viewspan-text">{{ assetInventoryForm.get('buildingName')?.value }}</span>
          </p>
        </div>

        <!-- Floor Name -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <p class="viewp-text">Floor Name:
            <span class="viewspan-text">{{ assetInventoryForm.get('floorName')?.value }}</span>
          </p>
        </div>

        <!-- Department Name -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <p class="viewp-text">Department Name:
            <span class="viewspan-text">{{ assetInventoryForm.get('departmentName')?.value }}</span>
          </p>
        </div>

        <!-- Room Name -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <p class="viewp-text">Room Name:
            <span class="viewspan-text">{{ assetInventoryForm.get('roomName')?.value }}</span>
          </p>
        </div>
      </div>

      <!-- Details Section -->
      <div class="row box-gryco mb-4">
        <h3 class="section-heading">Asset Details</h3>
        <div *ngFor="let control of detailsControl(); let i = index">
          <p class="viewp-text">Asset #{{ i + 1 }}</p>
          <p class="viewp-text">Asset Number:
            <span class="viewspan-text">{{ control.get('assetNumber')?.value }}</span>
          </p>
          <p class="viewp-text">Asset Serial No:
            <span class="viewspan-text">{{ control.get('assetSerialNo')?.value }}</span>
          </p>
          <p class="viewp-text">Asset Name:
            <span class="viewspan-text">{{ control.get('assetName')?.value }}</span>
          </p>
          <p class="viewp-text">Tag Code:
            <span class="viewspan-text">{{ control.get('tagCode')?.value }}</span>
          </p>
        </div>

      </div>

      <form [formGroup]="assetInventoryForm" hidden>
        <div class="row form-scroller mb-4">
          <div class="col-12">
            <h3 class="section-heading">Asset Inventory Information</h3>
          </div>

          <div class="row box-gryco">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-floating mb-2">
                <label class="form-label" for="surveyDate">Asset Inventory Date</label>
                <input type="text" id="surveyDate" formControlName="surveyDate" pInputText
                  class="form-control header-search-background icon-padding" [required]="true" [readonly]="true" />
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-floating mb-2">
                <input formControlName="siteName" type="text" pInputText [readonly]="true"
                  class="form-control header-search-background icon-padding" placeholder="Site" />
                <label class="form-label">Site</label>
              </div>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-floating mb-2">
                <input formControlName="buildingName" type="text" [readonly]="true" pInputText
                  class="form-control header-search-background icon-padding" placeholder="Building Name" />
                <label class="form-label">Building</label>
              </div>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-floating mb-2">
                <input formControlName="floorName" type="text" [readonly]="true" pInputText
                  class="form-control header-search-background icon-padding" placeholder="Floor Name" />
                <label class="form-label">Floor</label>
              </div>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-floating mb-2">
                <input formControlName="departmentName" type="text" [readonly]="true" pInputText
                  class="form-control header-search-background icon-padding" placeholder="Department Name" />
                <label class="form-label">Department</label>
              </div>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-floating mb-2">
                <input formControlName="roomName" type="text" [readonly]="true" pInputText
                  class="form-control header-search-background icon-padding" placeholder="Room Name" />
                <label class="form-label">Room</label>
              </div>
            </div>
          </div>

          <div class="col-12">
            <h3 class="section-heading">Asset Information</h3>
          </div>

          <div class="row box-gryco">
            <fieldset>
              <dl *ngFor="let item of details" class="row py-3">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="form-floating mb-2">
                    <dt><label class="form-label">Asset Number</label></dt>
                    <dd>
                      <input type="text" pInputText class="form-control border-0 header-search-background"
                        placeholder="{{ item.assetNumber }}" />
                    </dd>
                  </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="form-floating mb-2">
                    <dt><label class="form-label">Asset S.N</label></dt>
                    <dd>
                      <input type="text" pInputText class="form-control border-0 header-search-background"
                        placeholder="{{ item.assetSerialNo }}" />
                    </dd>
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="form-floating mb-2">
                    <dt><label class="form-label">Asset Name</label></dt>
                    <dd>
                      <input type="text" pInputText class="form-control border-0 header-search-background"
                        placeholder="{{ item.assetName }}" />
                    </dd>
                  </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="form-floating mb-2">
                    <dt><label class="form-label">Tag Code</label></dt>
                    <dd>
                      <input type="text" pInputText class="form-control border-0 header-search-background"
                        placeholder="{{ item.tagCode }}" />
                    </dd>
                  </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="form-floating mb-2">
                    <dt><label class="form-label">Status</label></dt>
                    <dd>
                      <input type="text" pInputText placeholder="{{ item.statusName }}"
                        class="form-control border-0 header-search-background" />
                    </dd>
                  </div>
                </div>
                <hr />
              </dl>
            </fieldset>
          </div>
          <div class="row" *ngIf="!isAddMode">
            <app-transaction-history [transactionHistory]="transactionHistory"></app-transaction-history>
          </div>
        </div>
      </form>

      <div class="pt-5" *ngIf="!isAddMode && addOrEditFlag" hidden>
        <app-transaction-history *ngIf="transactionHistory"
          [transactionHistory]="transactionHistory"></app-transaction-history>
      </div>

      <!-- <div class="fixed-bottom">
        <div class="row">
          <div class="col-12">
            <button class="btn btn-blue text-white form-button border-r10 float-end mx-4" type="button" BackButton
              (click)="close_modal()">
              Back
            </button>
          </div>
        </div>
      </div> -->

      <p-confirmDialog [style]="{ width: '600px' }"></p-confirmDialog>
    </div>
  </div>
</div>
