/* @use '@angular/material' as mat;

.matero-container-wrap,
.matero-container {
  height: 100%;
}



.mat-drawer-content {
  height: 100vh !important;
}

.matero-sidenav {
  position: absolute;
  overflow-x: hidden;
  transition: 1.2s;  
} */



