<p-toast></p-toast>
<div class="view-data-header">
    <!-- <app-search-component (OnSearch)="search()" (OnReset)="Reset()">
        <div class="card-body pt-5">
            <form [formGroup]="searchForm">
                <div class="row py-3">


                  </div>
            </form>
        </div>
    </app-search-component> -->

    <div class="view-name-def-header card">
        <p-table #dt [value]="msgs"
         styleClass="p-datatable-striped p-datatable-gridlines" [loading]="loading"
            [rows]="filter.pageSize" [tableStyle]="{'min-width': '75rem'}" [lazy]="true" [totalRecords]="totalRows"
            [rowHover]="false" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="card-header bg-primary">
                        <div class="card-title">
                            <span class="text-white"> Email Notifications Table <br>
                                <span class="total_rows_data"> Total: {{totalRows}} </span>
                            </span>
                        </div>
                        <div class="card-title table-btns">
                             <a [routerLink]="['/systemsettings/translate/email-notification/add-control']" class="nav-link" canAdd>
                            <button pRipple class="btn btn-light-primary me-2 mr-2"> Add</button>
                            </a>
                          </div>

                    </div>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-msg>


                <tr>
                    <td><a class="link-info" pRipple (click)="navToDetails(msg,0)">{{msg.id}}</a></td>
                    <td>{{msg.subject}}</td>
                    <td>{{msg.email}}</td>
                    <td class="action-width">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                            (click)="navToDetails(msg,1)" canUpdate></button>

                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="delete(msg)" canDelete></button>

                            <button pButton pRipple pTooltip="Ignore Email" icon="pi pi-times" class="p-button-rounded p-button-warning"
                            (click)="ignore(msg)" ></button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
        <p-paginator [rows]="filter.pageSize" [totalRecords]="totalRows" (onPageChange)="paginate($event)"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"></p-paginator>
    </div>


    <p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>


