

<!--beginbreadcrumb-->
<!-- <div class="card flex justify-content-center mb-5">
    <p-breadcrumb [model]="items"></p-breadcrumb>
</div> -->
<!--endbreadcrumb-->

<!--begin Search Fields -->
<!-- <div class="card card-flush mb-6 mb-xl-9">  (click)="close_modal()" -->
<div #drawer [ngClass]=" showmodal ? 'show' : ''"
   class="offcanvas offcanvas-end offcanvas-container w-75 ps-md-4" id="r-step-1" aria-modal="true" role="dialog">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title offcanvas-heading" *ngIf="!edit_asset_id">Add New Service Request</h1>
    <h1 class="offcanvas-title offcanvas-heading" *ngIf="edit_asset_id">Edit Service Request</h1>
    <button type="button" class="btn-close" (click)="close_model()"></button>
  </div>

  <div class="p-2 ngprime-custom">
    <p-toast></p-toast>
      <div class="card-title">
          <h2 class="d-flex align-items-center text-white"> Service Request </h2>
      </div>

    <div class="row  form-scroller">
        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-calendar"></i>
                    <span>Call Info<small class="text-danger">*</small></span>
                </ng-template>
                <app-call-info></app-call-info>
            </p-tabPanel>
            <p-tabPanel *ngIf="false">
                <ng-template pTemplate="header">
                    <i class="pi pi-calendar"></i>
                    <span>Maintenance Info</span>
                </ng-template>
                <app-maintenance-info></app-maintenance-info>
            </p-tabPanel>
            <p-tabPanel *ngIf="!serviceRequestFormService.isAddMode && serviceRequestFormService.isAssginedEmployee=='true'">

                <ng-template pTemplate="header">
                    <i class="pi pi-calendar"></i>
                    <span>First action Info </span><small class="text-danger">*</small>
                </ng-template>
                <app-first-action></app-first-action>
            </p-tabPanel>
            <p-tabPanel *ngIf="!serviceRequestFormService.isAddMode && serviceRequestFormService.isReview=='Review'">
                <ng-template pTemplate="header">
                    <i class="pi pi-calendar"></i>
                    <span>Call Review </span><small class="text-danger">*</small>
                </ng-template>
                <app-service-review></app-service-review>
            </p-tabPanel>
        </p-tabView>
        <div class="card-body pt-5">
            <form [formGroup]="serviceRequestFormService.attachmentCallForm">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <label class="form-label">Attachment</label>
                      <app-attachments (onUploaded)="serviceRequestFormService.attachmentReady($event)" (onDeleted)="serviceRequestFormService.attachmentDelete($event)" formArrayName="attachments"
                      [attachments]="serviceRequestFormService.attachmentName" [hasDelete]="true"></app-attachments>
                </div>
            </form>
        </div>
        <div class="card-body pt-5" *ngIf="!serviceRequestFormService.isAddMode">
          <app-transaction-history *ngIf="serviceRequestFormService.transactionHistory" [transactionHistory]="serviceRequestFormService.transactionHistory"></app-transaction-history>
        </div>
    </div>
  </div>


  <div class="fixed-bottom">
    <div class="row">
      <div class="col-12">
        <button *ngIf="!serviceRequestFormService.isViewMode" class="btn btn-blue text-white form-button border-r10 float-end m-4" type="button" (click)="saveServiceRequest()">Save</button>
      </div>
    </div>
  </div>

    <!-- <div class="card-footer d-flex justify-content-end border-top " [ngClass]="{'disableDiv': serviceRequestFormService.isSubmitted}">
        <button pButton type="button" label="Save" class="p-button-info col-lg-2" (click)="serviceRequestFormService.CheckWarning()"
            *ngIf="!serviceRequestFormService.isViewMode"></button>
    </div> -->
    <!-- <p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog> -->


  <!-- <p-dialog header='{{serviceRequestFormService.headerWaring}}' [(visible)]="serviceRequestFormService.showDialogWarning" [modal]="true"
      [style]="{width :'25vw',height:'60hw'}" [maximizable]="true" [draggable]="false" [resizable]="false"> -->
  <div #drawer [ngClass]=" serviceRequestFormService.showDialogWarning ? 'show' : ''"
      class="offcanvas offcanvas-end offcanvas-container w-50 ps-md-4" id="r-step-1" aria-modal="true" role="dialog">
     <div class="offcanvas-header">
       <h1 class="offcanvas-title offcanvas-heading">Add New Service Request</h1>
       <button type="button" class="btn-close" (click)="close_Warning_model()"></button>
     </div>

          <div *ngFor="let item of serviceRequestFormService.detailWaring"  class="" >
            <button
              (click)="serviceRequestClick(item.id)"
              class="dropdown-item notific-btn"
              style="text-wrap:balance ;"
            >
            {{item.message}}
            </button>
            <hr class="dropdown-divider" />
          </div>


      <ng-template pTemplate="footer">
          <p-button type="button" icon="pi pi-check" label="Continue" (click)="serviceRequestFormService.Save()"
              styleClass="p-button-text"></p-button>
          <p-button icon="pi pi-times" (click)="serviceRequestFormService.showDialogWarning=false" label="Cancel" styleClass="p-button-text"></p-button>
      </ng-template>
  </div>

  <!-- </p-dialog> -->
</div>
