input[type = checkbox] {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
          accent-color: #5f93b5;
          cursor: pointer;
}

.checkbox-div{
  display: flex;
  align-items: baseline;
}
