<!-- <div #drawerFilter2 [ngClass]=" showmodal ? 'show' : ''"
  class="offcanvas offcanvas-end offcanvas-container w-50 ps-md-4 ngprime-custom" id="r-step-1" aria-modal="true"
  role="dialog">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title offcanvas-heading">Search Asset</h1>
    <button type="button" class="btn-close" (click)="close_modal()"></button>
  </div>
  <div class="p-3">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12 p-3">
        <form [formGroup]="searchModelForm">
          <div class="col-md-3">
            <label class="form-label">Model Name</label>
            <p-autoComplete [delay]="1000" formControlName="name" [suggestions]="modelsList" field="modelName"
              (completeMethod)="searchModel($event)" (onSelect)="modelFilter.name=$event.value.modelName">
            </p-autoComplete>
          </div>

        </form>
      </div>

      <div class="fixed-bottom">
        <div class="row">
          <div class="col-12">
            <button class="btn btn-blue text-white form-button border-r10 float-end m-4" type="button"
              (click)="search()">Apply
              Filter</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->