// Breakpoints
$mobile: 600px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;
$large-desktop-max: 1400px;
$very-large-desktop: 1920px;

// Media query for mobile devices
@media only screen and (max-width: $mobile) {
   /*  .main-content {
      margin-left: 42px !important;
      &.sidebarExpanded {
        margin-left: 356px;
      }
    }
    .sidebar {

      width: 46px !important;
      &.expanded {
        width: 362px !important;
      }
    }
   .header {

        padding: 21px 1px 0 0px !important;
    }

    .body-pd { padding-left: 0px !important; }
    .drop-down {
        background: #ffffff;
        color: #3B3D4A;
        visibility: hidden;
        opacity: 0;
        width: 320px;
        position: absolute;
        right: 2px !important;
        top: 91px !important;
    }

    .mobile-close-button {
        visibility: visible !important;
        text-align: justify;
        text-align: right;
        width: 58% !important;
        margin-top: 15px;
        svg path {
            fill: #ffffff;
        }
    }

    .chapter-inner-box  {
      width: 98%;
      overflow-x: scroll;
    }



    .mat-mdc-row {
      flex-direction: column !important;
      align-items: start !important;
      padding: 8px 24px;
    }

    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }

    .custom-card {
      border-radius: 10px !important;
      height: 100%;
      padding: 8px !important;
      margin: 0px !important;
    }

    .atoms-workorder {
     .new-button-success {
        width: 201px !important;
      }
    }

    .search-sa-sidebar {
      width: 302px;
      padding: 4px;
    }

    .offcanvas-mat-label {
      font-size: 20px !important;
    }

    .mobile-close-button {
      display: block !important;
    }

    .mat-drawer-inner-container {
       padding: 20px !important;
    }

    .login-left-bg {
        h3 {
            font-size: $mobile-heading-fs !important;
            line-height: 60px !important;
        }

        .content-center {
            width: 100% !important;
            padding: 30px !important;
        }
    }

    .atoms-hide {
        display: none;
    }

    .login-right-bg {
        padding: 0;
    }

    .login-page .login-right-bg .margin-top-login {
        margin-top: 0% !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        padding: 20px !important;
    }

    .login-page .login-right-bg .atoms-logo {
        width: 145px !important;
    }

    .login-page .login-right-bg h3 {
        font-size: 40px !important;
        line-height: 25px !important;
    }

    .login-page .login-right-bg .margin-top-for-button {
        margin-top: 0% !important;
    }

    .login-page .login-right-bg .atoms-btn-primary {
        height: 60px !important;
    }

    .login-page .login-right-bg .input-field {
        height: 60px !important;
    }

    .login-page .login-right-bg .powered-by-text {
        font-size: 15px !important;
        line-height: 0px !important;
        bottom: 70px !important;
    }

    .login-page .login-right-bg .copyright-logo-class{
        bottom:  10px !important;
    }

    .atoms-create-work-order .select-button-text {
        font-size: 12px !important;
    }

    .head-button-mobile{
        flex-direction: column !important;
    }

    .atoms-create-work-order .select-button {
        padding: 15px 3px 3px 5px !important;
        margin: 5px 3px 4px 3px !important;
    }

    .atoms-create-work-order .atoms-button-success,
    .atoms-create-work-order .atoms-button-danger{
        width: 100% !important;
    }

    .flex-d-mobile{
        flex-direction: column !important;
    }

    .sub-form-content {
        margin-left: 0px !important;
    }

    .atoms-create-work-order .alert {
        height: 78px !important;
        margin-left: -5px !important;
    }

    .atoms-create-work-order .close {
        bottom: 14px !important;
    }

    .atoms-create-work-order .atoms-button-outline,
    .atoms-create-work-order .atoms-button-secondary {
        font-size:  16px !important;
    }

    .atoms-create-work-order .buttons-margin {
        margin: -3px 0px 10px -10px !important;
        float: none !important;
    }

    .atoms-create-work-order .card-section .top-section {
        z-index: 2 !important;
        margin: 0px 0px 0px -14px !important;
        height: 200px !important;
    }

    .atoms-create-work-order .card-section .top-section-employee {
        position: relative !important;
        z-index: 2 !important;
        margin: 0px 0px 0px -20px !important;
        height: 200px !important;
        width: 118% !important;
    }

    .atoms-create-work-order .card-section .atoms-button-outline,
    .atoms-create-work-order .card-section .atoms-button-secondary {
        width: 100% !important;
    }

    .atoms-create-work-order .buttons-margin-employee {
        float: none !important;
        display: flex !important;
        justify-content: center !important;
    }

    .border-end {
        border-right: none !important;
        height: 12% !important;
    } */
}


// Additional styles for different devices...
