// Main Color for the Website -----------------------------------------------

$main-bg: #f4f6fc;
$primary-color: #3DA5E5;
$secondary-color: #3B3D4A;
$login-right-bg: #f4f8fc;
$form-input-txt: #F7F9FB;
$login-input-color: #3b3d4a;
$color-white: #fff;
$required: #ff0000;
$line-color: #f2f2f2;
$horizontal-color: #e4e5e6;
// $sidenav-background: #111427;
$sidenav-background: #3b3d4a;

$header-text-color: $login-input-color;
$header-height: 91px;
$nav-width: 80px;
$first-color: $sidenav-background;
$first-color-light: #afa5d9;
$white-color: $color-white;
$body-font: Poppins;
$normal-font-size: 14px;
$z-fixed: 100;
$color-red: $required;
$checkbox-background-color: #f0f0f0;
$checkbox-text-color: #2c2c31;
$box-shadow-color: #0000000d;
$secondary-color: #3B3D4A;
$required-field: rgba(208, 33, 39, .25);
$not-applicable: #D02127;
$table-content: #767676;
$counter-text: #3B3D4A;
$color-white: #fff;
$table-bg: #F7F9FB;
$circle-border: #EAF1F4;
$table-text: #7D859A;

// Font Sizes for the Website -----------------------------------------------

$login-label-14: 14px;
$login-txtfield-16: 16px;
$paragraph-fs-19: 19px;
$dropdown-toggle-border: #ccc;
$form-selct-shadow: $main-bg;
$input-background: $form-input-txt;
$alert-button: #d2d3d4;
$label-color: #767676;
$color-balck: #000000;
$scrollbar-track-bg-color: #888;
$scrollbar-thumb-bg-color: #555;
$scrollbar-thumb-bg-color-hover: #f1f1f1;
$success-color: #62be96;
$section-bg: #f7f9fb;
$table-content: #767676;
$danger-color: #d02127;
$stepper-circle-default: #f1f1f1;
$stepper-circle-number: #b9bbc1;
$warning-color: #f39c12;
$table-bg: #F7F9FB;
$circle-border: #EAF1F4;
$table-text: #7D859A;

//Header Font Size
$content-heading-fs: 54px;
$mobile-heading-fs: 40px;
$tablet-heading-fs: 100px;
$width-100-percent: 100%;

// width for the  -----------------------------------------------

$width_1: 300px;

// Box Shadow     -----------------------------------------------
$box-shadow: 0px 0px 14px 0px #00000008;
// borders     -----------------------------------------------
$border-width: 1px solid #f2f2f2;
// Radius     -----------------------------------------------

$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-14: 14px;
$border-radius-15: 15px;

$fs-12 :12px;
$fs-13 :13px;
$fs-14 :14px;
$fs-16 :16px;
$fs-18 :18px;
$fs-19: 19px;
$fs-24: 24px;
$fs-28: 28px;
$fs-42: 42px;

//Header Font Size-----------------------------------------
$fsh-54: 54px;

//Line Height-----------------------------------------
$lh-54: 51px;

//Border Radius-----------------------------------------
$p-32: 32px;


//Border Radius-----------------------------------------
$br-10: 10px;



//Shadow-----------------------------------------
$box-shadow: 0px 0px 10px 0px #0000000D;

$step-inactive-bg: #F1F1F1;
$step-inactive-txt: rgba(59, 61, 74, 0.33);

$close-status: rgba(33, 41, 54, 0.2);
$close-clr: #e7eaf0;

$inprogress-status: rgba(253, 225, 155, 0.3);
$inprogress-clr: #8E8468;


$complete-status: rgba(84, 193, 102, 0.2);
$complete-clr: #54C166;

$high-priority: #F63939;
$low-priority: #54C166;

$inner-box: #C1C4C4;

$description: #5C6F79;
$menu-hover: #5D6B72;
$icons-bg: #C6CFD4;
$icon-color: #474B4D;

$blue-hover: rgba(7, 134, 213, 1);
$white-hover: #E9EDF0;
$red-hover: #E74F54;

// $red-hover:rgba(234, 18, 22, 0.9);
$black-hover: #5D6B72;


$main-heading: #1D2920;

$field-border: #E6E6E6;