<p-toast position="bottom-right"></p-toast>
<div #drawer [ngClass]=" showmodal ? 'show' : ''" class="offcanvas offcanvas-end offcanvas-container w-50 ps-md-4 "
  id="r-step-1" aria-modal="true" role="dialog">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title offcanvas-heading">Edit Asset Nomenclature</h1>
    <button type="button" class="btn-close" (click)="close_modal()"></button>
  </div>

  <div class="p-3 ngprime-custom">
    <div class="row">


      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 assets-form form-scroller ">
        <form [formGroup]="addNameForm" (ngSubmit)="updateNameDefiniton()">
          <div class="row  box-gryco">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-floating ">

                <input id="assetname" formControlName="assetname" type="text" pInputText
                  class="form-control  icon-padding" placeholder="" [required]="true" /><label>{{'Asset Naddme'|
                  tr:PAGE_TITLE| translate}}<span class="required"></span></label>
              </div>
              <small class="p-error block" *ngIf="
                        addNameForm.get('assetname')?.invalid &&
                        addNameForm.get('assetname')?.dirty
                      ">
              </small>
            </div>
            @if(oracleCodesControl().length > 0)
            {

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

              <div class="row " formArrayName="oracleCodes">
                @for (code of oracleCodesControl(); track $index;let i=$index) {


                <div [formGroupName]="i" class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="form-floating ">

                    <input formControlName="codeValue" type="text" pInputText id="{{'codeValue'+codeNames[i]}}"
                      class="form-control  icon-padding" placeholder="{{codeNames[i]}}" />
                    <label for="{{'codeValue'+codeNames[i]}}">{{codeNames[0]}}</label>

                    <input formControlName="assetNDId" type="hidden" />
                    <input formControlName="id" type="hidden" />
                    <input formControlName="codeTypeId" type="hidden" />
                  </div>
                </div>

                }

              </div>
            </div>


            }


            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-floating ">

                <input id="oraclename" formControlName="oraclename" type="text" pInputText
                  class="form-control  icon-padding" placeholder="{{'Oracle Name'| tr:PAGE_TITLE| translate}}" /> <label
                  for="oraclename">{{'Oracle Name'|
                  tr:PAGE_TITLE| translate}}</label>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <h3 class="section-heading">{{'Asset Nomenclature Info'| tr:PAGE_TITLE| translate}}
            </h3>

            <div class="row box-gryco mt-2">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <input formControlName="umdns" type="text" pInputText class="form-control  icon-padding"
                    placeholder="" />
                  <label>{{'UMDNS'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-dropdown [options]="riskOptions" optionLabel="name" optionValue="id" formControlName="assetriskId"
                    class="dropdown" (onChange)="onSelectRisk($event)" placeholder="select"></p-dropdown>
                  <label>{{'Asset Risk Level'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-dropdown [options]="complexOptions" formControlName="complex" class="dropdown"
                    (onChange)="onSelectComplex($event)" placeholder="select"></p-dropdown><label>{{'Complexity'|
                    tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-dropdown [options]="classOptions" optionLabel="name" optionValue="id"
                    formControlName="classficationId" class="dropdown" (onChange)="onSelectClassification($event)"
                    placeholder="select"></p-dropdown><label>{{'Classification'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-dropdown [options]="categoriesOptions" optionLabel="name" optionValue="id"
                    formControlName="categoryId" class="dropdown" (onChange)="onSelectCategories($event)"
                    placeholder="select"></p-dropdown>
                  <label>{{'Category'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-dropdown [options]="businessOptions" optionLabel="name" optionValue="id"
                    formControlName="businessId" class="dropdown" (onChange)="onSelectBusiness($event)"
                    placeholder="select"> <label>{{'Mission Critical'|
                      tr:PAGE_TITLE| translate}}</label>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">
                  <p-dropdown [options]="modilityOptions" optionLabel="name" optionValue="id"
                    formControlName="modilityId" class="dropdown" (onChange)="onSelectModility($event)"
                    placeholder="select"></p-dropdown>
                  <label>{{'Modality'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">
                  <input formControlName="submodility" type="text" pInputText class="form-control  icon-padding"
                    placeholder="" />
                  <label>{{'Sub Modality'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-dropdown [options]="functionOptions" optionLabel="name" optionValue="id"
                    formControlName="functionclassId" class="dropdown" (onChange)="onSelectFunction($event)"
                    placeholder="select"></p-dropdown> <label>{{'Function Class'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-dropdown [options]="typeAssetOptions" optionLabel="name" optionValue="id"
                    formControlName="typeassetId" class="dropdown" (onChange)="onSelectTypeAsset($event)"
                    placeholder="select"></p-dropdown><label>{{'Type
                    of Asset'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-inputNumber formControlName="lifespan" mode="decimal" [useGrouping]="false">
                  </p-inputNumber> <label>{{'Life Span'| tr:PAGE_TITLE| translate}}</label>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-floating ">

                  <p-dropdown [options]="equipmentList" optionLabel="name" optionValue="value"
                    formControlName="essentialEquipement" class="dropdown" (onChange)="onSelectEquipment($event)"
                    placeholder="select"></p-dropdown> <label>{{'Essential Equipment'| tr:PAGE_TITLE|
                    translate}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <app-transaction-history *ngIf="transactionHistory"
              [transactionHistory]="transactionHistory"></app-transaction-history>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div *ngIf="tabIndex == 1" class="fixed-bottom">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-blue text-white form-button float-end mx-4" type="button"
          (click)="updateNameDefiniton()">
          {{'Update'| tr:PAGE_TITLE| translate}}</button>
      </div>
    </div>
  </div>
  <p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>
</div>