<div
  #drawerAdd
  [ngClass]="showAddModal ? 'show' : ''"
  class="offcanvas offcanvas-end offcanvas-container w-50 ps-md-4 ngprime-custom"
  id="r-step-1"
  aria-modal="true"
  role="dialog"
>
  <div class="offcanvas-header">
    <h1 class="offcanvas-title offcanvas-heading" *ngIf="isAddMode">
      Create Customer Experience
    </h1>
    <h1 class="offcanvas-title offcanvas-heading" *ngIf="isEditMode">
      Edit Customer Experience
    </h1>
    <button
      type="button"
      class="btn-close"
      (click)="close_add_modal()"
    ></button>
  </div>
  <div class="p-3">
    <div class="row">
      <p-toast></p-toast>
      <div class="col-xxl-12 col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12 p-3">
        <!-- ========== -->
        <form [formGroup]="customerExperienceForm" class="add-content-type">
          <div class="row form-scroller mb-4">
            <div class="row box-gryco">
              <!-- <p-tabView> -->
              <!-- <p-tabPanel header="Customer Experience Info"> -->
              <div class="col-12">
                <h3 class="section-heading">Customer Experience Info</h3>
              </div>

              <!-- <div class="card-body pt-5"> -->
              <div class="row py-3">
                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <span class="p-float-label">
                      <p-autoComplete
                        [delay]="1000"
                        *ngIf="isAddMode"
                        placeholder="Site"
                        formControlName="site"
                        [suggestions]="sites"
                        field="custName"
                        (completeMethod)="onSelectSite($event)"
                        dataKey="id"
                        (onSelect)="bindSite($event)"
                        (onClear)="clearSite()"
                        inputId="siteInput"
                      ></p-autoComplete>
                      <label for="siteInput" class="form-label">Site</label>
                    </span>

                    <input
                      *ngIf="isEditMode"
                      id="sitetxt"
                      formControlName="sitetxt"
                      pInputText
                      readonly
                      class="form-control"
                      placeholder="Site"
                    />
                  </div>
                </div>

                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <p-dropdown
                      [options]="departments"
                      optionLabel="departmentName"
                      formControlName="department"
                      optionValue="departmentName"
                      (onChange)="changeDepartment($event)"
                      placeholder="Please select..."
                    ></p-dropdown>
                    <label class="form-label">Department</label>
                  </div>
                </div>

                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <span class="p-float-label">
                      <p-autoComplete
                        [delay]="1000"
                        formControlName="customerID"
                        field="customerID"
                        (completeMethod)="getAutoComplete($event)"
                        [suggestions]="customer_ID"
                        (onSelect)="bindCustomerID($event)"
                        (onClear)="ClearCustomerID()"
                        placeholder="Customer ID"
                        inputId="customerIDInput"
                      ></p-autoComplete>
                      <label for="customerIDInput" class="form-label"
                        >Customer ID</label
                      >
                    </span>
                  </div>
                </div>

                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <span class="p-float-label">
                      <p-autoComplete
                        [delay]="1000"
                        formControlName="customerName"
                        field="customerName"
                        (completeMethod)="getAutoComplete($event)"
                        [suggestions]="customer_Name"
                        (onSelect)="bindCustomerName($event)"
                        (onClear)="ClearCustomerName()"
                        placeholder="Customer Name"
                        inputId="customerNameInput"
                      ></p-autoComplete>
                      <label for="customerNameInput" class="form-label"
                        >Customer Name</label
                      >
                    </span>
                  </div>
                </div>

                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <input
                      id="position"
                      formControlName="Position"
                      pInputText
                      class="form-control"
                      placeholder="Position"
                    />

                    <label class="form-label">Position</label>
                  </div>
                </div>

                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <input
                      id="extensionNumber"
                      formControlName="ExtensionNumber"
                      pInputText
                      class="form-control"
                      placeholder="Extension number"
                    />
                    <label class="form-label">Extension number</label>
                  </div>
                </div>

                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <input
                      id="mobileNumber"
                      formControlName="MobileNumber"
                      pInputText
                      class="form-control"
                      placeholder="Mobile number"
                    />
                    <label class="form-label">Mobile Number</label>
                  </div>
                </div>

                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <input
                      id="email"
                      formControlName="Email"
                      pInputText
                      class="form-control"
                      placeholder="Email"
                    />
                    <label class="form-label">Email</label>
                  </div>
                </div>

                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <p-calendar
                      [showIcon]="true"
                      [showOnFocus]="false"
                      [required]="true"
                      formControlName="SurveyDate"
                      dateFormat="yy/mm/dd"
                      dataType="string"
                      placeholder="Survey Date"
                    ></p-calendar>
                    <label class="form-label">Survey Date</label>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <!-- </p-tabPanel> -->
              <!-- </p-tabView> -->

              <!-- <p-tabView> -->
              <!-- <p-tabPanel header="Questions Experience Team"> -->
              <div class="col-12">
                <h3 class="section-heading">Questions Experience Team</h3>
              </div>
              <!-- <div class="card-body pt-5"> -->
              <div class="row py-3">
                <div
                  class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <textarea
                      id="question1"
                      formControlName="question1"
                      pInputTextarea
                      class="form-control"
                      placeholder="Enter call Comments"
                      row="5"
                    ></textarea>

                    <label class="form-label">
                      How likely are you to recommend FLOW Solutions ?
                    </label>
                  </div>
                </div>
                <div
                  class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <textarea
                      id="question2"
                      formControlName="question2"
                      placeholder="Enter call Comments"
                      pInputTextarea
                      class="form-control"
                      row="5"
                    ></textarea>
                    <label class="form-label">
                      How much would you rate Flow staff availability when you
                      need them?
                    </label>
                  </div>
                </div>
                <div
                  class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <textarea
                      id="question3"
                      formControlName="question3"
                      placeholder="Enter call Comments"
                      pInputTextarea
                      class="form-control"
                      row="5"
                    ></textarea>
                    <label class="form-label">
                      on a scale from 1-10 please rate our ability in putting
                      things right when they go wrong.
                    </label>
                  </div>
                </div>
                <div
                  class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <textarea
                      id="question4"
                      formControlName="question4"
                      placeholder="Enter call Comments"
                      pInputTextarea
                      class="form-control"
                      row="5"
                    ></textarea>
                    <label class="form-label">
                      How much would your rate the quality of the delivered
                      solutions?
                    </label>
                  </div>
                </div>
                <div
                  class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2"
                >
                  <div class="form-floating mb-2">
                    <textarea
                      id="question5"
                      formControlName="question5"
                      placeholder="Enter call Comments"
                      pInputTextarea
                      class="form-control"
                      row="5"
                    ></textarea>
                    <label class="form-label">
                      Are there any specific areas where you feel we excelled or
                      fell short in terms of our delivered solutions?
                    </label>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <!-- </p-tabPanel> -->
              <!-- </p-tabView> -->
            </div>
            <div class="mt-2" *ngIf="!isAddMode">
              <app-transaction-history
                *ngIf="transactionHistory"
                [transactionHistory]="transactionHistory"
              ></app-transaction-history>
            </div>
          </div>
        </form>
        <!-- ++++++++++ -->
      </div>
    </div>
    <div class="fixed-bottom">
      <div class="row">
        <div class="col-12">
          <button
            *ngIf="isAddMode"
            class="btn btn-blue text-white form-button border-r10 float-end m-4"
            type="button"
            (click)="save()"
          >
            Save
          </button>
          <button
            *ngIf="isEditMode"
            class="btn btn-blue text-white form-button border-r10 float-end m-4"
            type="button"
            (click)="save()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
    <!-- <p-confirmDialog [style]="{ width: '600px' }"></p-confirmDialog> -->
  </div>
</div>
