<div class="lds-default" *ngIf="isVisible" [ngStyle]="style">
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
  <div [style.background]="color"></div>
</div>
