<div class="atoms-workorder">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="m-2 qipsa-content-bg">
        <div class="custom-card">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 ngprime-custom">
            <p-toast></p-toast>
            <p-table
              [value]="dataTable"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              #dt
            >
              <ng-template pTemplate="caption">
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h4 class="mt-3 inline main-heading">Rota List</h4>
                    <!-- <a class="ps-4 mt-4 exportfile" (click)="export()"
                          >Export <img src="navbar/export.svg" alt=""
                        /></a> -->
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-12 text-right">
                    <div class="p-input-icon-left">
                      <p-button
                        [outlined]="false"
                        class="header-icon-background header-icon float-end"
                        (click)="toggleFilter()"
                      >
                        <img src="navbar/filter.svg" alt="" />
                      </p-button>
                    </div>
                    <div class="p-input-icon-left px-lg-3 px-md-2 ps-sm-1">
                      <div class="form-floating float-end">
                        <input
                          type="text"
                          pInputText
                          class="form-control border-0 header-search-background"
                          id="floatingSearchInput"
                          placeholder="Type here"
                          [(ngModel)]="searchValue"
                          (input)="applyGlobalFilter($event)"
                        />
                        <span>
                          <img
                            class="float-end search-icon"
                            src="navbar/search.svg"
                            alt=""
                        /></span>
                        <label for="floatingSearchInput">Search</label>
                      </div>
                    </div>
                    <div class="p-input-icon-left">
                      <button
                        class="btn btn-blue text-white border-0 p-4 float-end"
                        (click)="add()"
                      >
                        Add Rota
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Site</th>
                  <th>Shift Date</th>
                  <th>Actions</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-dataTable>
                <tr>
                  <td>{{ dataTable.site }}</td>
                  <td>{{ dataTable.surveyDate }}</td>
                  <td class="text-center">
                    <p-button
                      icon="pi pi-pencil"
                      class="mr-2"
                      [rounded]="true"
                      [outlined]="true"
                      severity="success"
                      (click)="editShift(dataTable)"
                      canUpdate
                    />
                    <p-button
                      icon="pi pi-trash"
                      severity="danger"
                      [rounded]="true"
                      [outlined]="true"
                      (click)="deleteShift(dataTable)"
                      canDelete
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  #drawerFilter
  [ngClass]="showFilterModal ? 'show' : ''"
  class="offcanvas offcanvas-end offcanvas-container w-50 ps-md-4 ngprime-custom"
  id="r-step-1"
  aria-modal="true"
  role="dialog"
>
  <div class="offcanvas-header">
    <h1 class="offcanvas-title offcanvas-heading">
      Search Rota
    </h1>
    <button
      type="button"
      class="btn-close"
      (click)="close_filter_modal()"
    ></button>
  </div>
  <div class="p-3">
    <div class="row">
      <p-toast></p-toast>
      <div class="col-xxl-12 col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12 p-3">
        <form [formGroup]="searchForm">
          <div class="row form-scroller mb-4">
            <div class="row box-gryco">
              <div class="row py-3">
                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"
                  *ngIf="false"
                >
                  <div class="form-floating mb-2">
                    <label class="form-label">Asset Group</label>
                    <p-dropdown
                      [options]="AssetGroups"
                      optionLabel="name"
                      formControlName="assetGroup"
                      [hidden]="true"
                      class="dropdown"
                      placeholder="select"
                    ></p-dropdown>
                  </div>
                </div>
                <div
                  class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"
                >
                  <div class="form-floating mb-2">
                    <label class="form-label">Site</label>
                    <p-autoComplete
                      [delay]="1000"
                      placeholder="Site"
                      formControlName="site"
                      [suggestions]="Sites"
                      field="custName"
                      (completeMethod)="onSelectSite($event)"
                      dataKey="id"
                      (onSelect)="bindSite($event)"
                      (onClear)="clearSite()"
                    ></p-autoComplete>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="fixed-bottom">
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-blue text-white form-button border-r10 float-end m-4"
            type="button"
            (click)="searchShifts()"
          >
            Apply Filter
          </button>
        </div>
      </div>
    </div>
    <p-confirmDialog [style]="{ width: '600px' }"></p-confirmDialog>
  </div>
</div>

<app-add-edit-rota
  [showmodal]="addRotaLoaded"
  [rotaId]="rotaId"
  [rotaIndex]="rotaIndex"
  [status]="status"
  (openModals)="openAddModal()"
></app-add-edit-rota>

<div *ngIf="addRotaLoaded" class="offcanvas-backdrop fade show"></div>
<div *ngIf="showFilterModal" class="offcanvas-backdrop fade show"></div>
